<style>
th, td {
    padding: 3px 5px;
}
th {
    text-align: left;
}
</style>
<h2>Downloaded</h2>
<table width="640">
	<thead>
		<tr>
			<th width="150">Group</th>
			<th width="150">Name</th>
			<th>Files</th>
            <th>Executables</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for el in downloaded %}
			<tr>
				<td>{{ el.group }}</td>
				<td>{{ el.name }}</td>
				<td>
					{% for file in el.files %}
						<a href="/app/nae-core/bin/file?f={{ el.group }}/{{ el.name }}/{{ file }}">{{ file }}</a><br/>
					{% endfor %}
				</td>
                <td style="color: green;">
					{% for file in el.executables %}
						{{ file }}<br/>
					{% endfor %}
				</td>
				<td>
					<form method="get" action="/app/nae-core/bin/file">
						<input type="text" name="f" value="{{ el.group }}/{{ el.name }}/" />
					</form>
					<a href="/app/nae-core/bin/remove?f={{ el.group }}/{{ el.name }}">Remove</a>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>


<h2>Available</h2>
<table width="640">
	<thead>
		<tr>
			<th width="150">Group</th>
			<th width="150">Name</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for el in list %}
			<tr>
				<td>{{ el.group }}</td>
				<td>{{ el.name }}</td>
				<td>
					<a href="/app/nae-core/bin/download?f={{ el.group }}/{{ el.name }}">Download</a>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
